[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "detrendeR"]
	path = detrendeR
	url = https://github.com/cran/detrendeR
	shallow = true
	registered = true
[submodule "tkImgR"]
	path = tkImgR
	url = https://github.com/cran/tkImgR
	shallow = true
	registered = true
[submodule "tkRplotR"]
	path = tkRplotR
	url = https://github.com/cran/tkRplotR
	shallow = true
	registered = true
[submodule "tracheideR"]
	path = tracheideR
	url = https://github.com/cran/tracheideR
	shallow = true
	registered = true
[submodule "xRing"]
	path = xRing
	url = https://github.com/cran/xRing
	shallow = true
	registered = true
